<nav>
  <a href="/"><i class="fas fa-home"></i>Home</a>
  <a href="/my-dev-squad"><i class="fa fa-home">All users</i></a>
  <a href="/add-new-ironhacker"><i class="fa fa-home">Form user</i></a>
</nav>