<h1>Title</h1>

<form class="form" action="" method="get">

    <label for="name">Enter your name:</label>
    <input name="{{users}}">

    <label for="email">Enter your email:</label>
    <input name="{{users}}">

    <label for="language">Enter your favorite language</label>
    <input name="{{users}}">

</form>